/*- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 40/ 44 / 52 / 62 / 74 / 86 / 98 */
/*- Spaces 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
/*- Border radius:
 3.2rem for mail */
/*- line-height: 1.06; 1.6*/
/*- box-shadow:
 0px 24px 32px 0px rgb(148 164 191 / 35%); mail 
 0px 0px 3px 0 rgba(0, 0, 0, 0.1); border.feature-square 
 0px 0px 3px 0 rgba(0, 0, 0, 0.3); borders view all */
/* *************************************************************** */

/** Header Section **/
.header {
  height: 9.6rem;
  background-color: #eef1f6;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  padding: 0 8rem;
  /* max-width: 120rem;
  margin: 0 auto; 
  .*/
}
.header-navigation {
  flex-grow: 1;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}
.header-navigation-links:link,
.header-navigation-links:visited {
  text-decoration: none;
  color: #192f62;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.get-started-btn.pink-btn {
  color: #fff;
  background: #fc3d65;
}
.nav-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.nav-mobile-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.nav-mobile-icon {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  color: #0e1133;
}
.nav-mobile-icon[name="close-outline"] {
  display: none;
}
/* Sticky nav */
.sticky {
  background-color: #eef1f6;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  /* its better to give it a height */
  height: 7rem;
  padding: 0rem 8rem; /* as the header but without top and bottom padding*/
  /* z-index to go above everything (even if z-indexed images) */
  z-index: 999;
}
/*here we now basically need to add exactly the same margin as is the original height of the header..
if it became out of flow */
.sticky + main .hero-section {
  margin-top: 9.6rem;
}
/********* End Of Header ************/
/********* HERO SECTION ************/
.hero-section {
  background-color: #eef1f6;
  margin-bottom: 8rem;
}
.hero-div-container {
  padding: 9.6rem 0 0 8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0;
}
.hero-text {
  padding-top: 4.8rem;
  padding-bottom: 9.6rem;
  color: #192f62;
}
.hero-img-container {
  align-self: flex-end;
  width: 100%;
  justify-self: flex-end;
  /* background: url("img/hero.png");
  background-size: 100% 100%; */
}
.hero-img {
  width: 100%;
}
/* .mail-us:focus,
.mail-us:active {
  border: none;
} */
.hero-text .text {
  font-size: 1.8rem;
  margin-bottom: 3.6rem;
}
.mail-form {
  position: relative;
  width: max-content;
  margin-bottom: 4.8rem;
}
.mail-us {
  font-size: 1.6rem;
  width: 38rem;
  background-color: #fff;
  padding: 2rem 1.8rem 2rem 5.2rem;
  border: none;
  border-radius: 3.2rem;
  border-left: 3px solid #fc3d65;
  /* Shadow */
  box-shadow: 0px 2.4rem 3.2rem 0px rgb(148 164 191 / 35%);
}
.mail-form .btn-submit {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  transform: translate(0, -50%);
  color: #fc3d65;
  background-color: initial;
  padding: 0.8rem;
  border-radius: 50%;
  border: none;
}
.mail-icon {
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translate(0, -50%);
  color: #adb5bd;
}
/*  */
.feedback {
  display: flex;
  align-items: flex-start;
}
.people {
  /* to handle images position  */
  position: relative;
  /*  */
  margin-right: 3.2rem;
  background-color: #91a5a525;
  height: 5.1rem;
  width: 13.3rem;
  /* border-radius */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.people img {
  width: 5.1rem;
  height: 5.1rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.img4 {
  position: absolute;
  top: 0;
  left: 0;
}
.img3 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(55%, 0);
}
.img2 {
  position: absolute;
  top: 0;
  left: 5.5rem;
  transform: translate(0%, 0);
}
.img1 {
  position: absolute;
  top: 0;
  left: 8.25rem;
  transform: translate(0%, 0);
}
.feedback div:nth-child(2) {
  align-self: flex-end;
}
/********** END OF HERO  ************/
/********** Features Section ********/
.features-section {
  margin-bottom: 8rem;
}
a.view-features:link,
a.view-features:visited {
  /* Note: width: fit-content; This value not supported by edge*/
  text-decoration: none;
  /*  */
  font-size: 1.8rem;
  color: #0e1133;
  font-weight: 500;
  border-radius: 3.2rem;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.3);
  /* flex  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding and margin   */
  padding: 1.6rem 3.2rem;
  margin-left: auto;
}
.features-grid-2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 3.2rem;
  /* gap: 16px;  NOTE : is gap used in grid?*/
}
.feature-square {
  /* NOTE: no height given because if the the view port changed the contect will overflow */
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  /* top right bottom left  */
  padding: 4.8rem 6.4rem;
}
.icon-div {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  /* Center the icon in the div  */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin  */
  margin-bottom: 3.2rem;
}
.feature-icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: white;
  stroke: white;
  /*NOTE padding: 20px; no padding for icons  */
}
.feature-square-text {
  line-height: 1.6;
  color: #696a6f;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.read-mor:link,
.read-mor:visited {
  color: #696a6f;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.icon-div.bolt {
  background-color: #32aaf8;
}
.icon-div.home {
  background-color: #df5493;
}
.icon-div.link {
  background-color: #3679fe;
}
.icon-div.bell {
  background-color: #f67944;
}
.icon-div.maintenance {
  background-color: #6b88f7;
}
.icon-div.security {
  background-color: #3bb094;
}
.marketing {
  background-color: #eef1f6;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 8fr 9fr;
}
.marketing-img-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.marketing-img {
  width: 100%;
}
.marketing-text {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.pink-heading2 {
  color: #df5493;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
}
.large-blue-bold {
  color: #0e1133;
  /* #192f62; */
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.06;
  margin-bottom: 1.6rem;
}
.marketing-text .block {
  display: block;
}
.small-grey-text {
  color: #69696e;
  font-size: 1.8rem;
  line-height: 1.6;
}
.benefits {
  display: flex;
  gap: 3.2rem;
  align-items: flex-start;
  margin-top: 3.2rem;
}
.one-benefit {
  display: flex;
  align-items: flex-start;
  margin-right: 3.2rem;
  margin-bottom: 1.6rem;
}
.check {
  width: 4rem;
  height: 4rem;
  fill: #32c36a;
  margin-right: 0.8rem;
  /* stroke: white; removed to be thinner */
}
.benefits h4 {
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
}
.benefits p {
  color: #696a6f;
  font-size: 1.6rem;
  line-height: 1.6;
}
/**************** End Of Features section ****************/

/******************* Advantages Section ******************/
.advantages-section {
  color: white;
  background-color: #0e1133;
  padding: 8rem;
  margin-bottom: 8rem;
}
.advantages-top-text {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
}
.advantages-top-text h2 {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.06;
  padding: 0 9.6rem;
  margin-bottom: 1.6rem;
}
.advantages-top-text p {
  font-size: 1.8rem;
}
.advantages-grid {
  margin-top: 4.8rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: auto 0.7fr;
  justify-content: center;
  align-items: center;
}
.advantages-img {
  width: 100%;
}
.one-advantage {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  padding: 3.2rem 6.4rem 3.2rem 2.4rem;
  box-shadow: 0px 0px 0px 1px rgba(80, 80, 80, 0.292);
  border-radius: 0.6rem;
  margin-bottom: 2.4rem;
}
.one-advantage-before {
  padding: 0.6rem;
  border-radius: 50%;
}
.one-advantage-before div {
  content: " ";
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.red-co .one-advantage-before {
  background-color: rgba(255, 61, 100, 0.15);
}
.red-co .one-advantage-before div {
  background-color: #ff3e66;
}
.blu .one-advantage-before {
  background-color: rgba(46, 173, 252, 0.089);
}
.blu .one-advantage-before div {
  background-color: #2eacfc;
}
.green-co .one-advantage-before {
  background-color: rgba(50, 195, 106, 0.119);
}
.green-co .one-advantage-before div {
  background-color: #32c36a;
}
.one-advantage h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.06;
  margin-bottom: 1.2rem;
}
.small-white {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
}
/************************* End Of Advantages Section*****************/
/************************** Installation Section *****************************************/
/* .installation-section */
.installation-4-sqaures {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  align-items: center;
  margin: 8rem 2.4rem;
}
.installation-square {
  padding: 4.8rem 4.8rem;
  box-shadow: 0 2rem 3.2rem 0px rgb(148 164 191 / 35%);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.installation-square:first-child {
  box-shadow: 0rem 2rem 3.2rem 0px rgb(148 164 191 / 35%);
}
.installation-square:nth-child(2) {
  box-shadow: 0rem 2rem 3.2rem 0px rgba(143, 139, 137, 0.279);
}
.installation-square:nth-child(3) {
  box-shadow: 0rem 2rem 3.2rem 0px rgba(58, 83, 15, 0.144);
}
.installation-square:nth-child(4) {
  box-shadow: 0rem 2rem 3.2rem 0px #d3c4ce85;
}
.large-number {
  font-size: 4.2rem;
  line-height: 1.06;
  font-weight: 700;
  margin-top: 1.2rem;
}
.large-number span {
  font-weight: 400;
}
.large-number + p {
  font-size: 1.6rem;
  line-height: 1.6;
}
.videos {
  display: grid;
  /* grid-template-columns: 1.9fr 0.9fr; */
  grid-template-columns: auto auto;
  column-gap: 3.2rem;
}
.vid1 {
}
.thumb-img {
  width: 100%;
  /* height: 35rem; */
}
.icon-upon-image {
  position: relative;
}
.above-icon,
.circle-line,
.arc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.above-icon {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  /* to center  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-line {
  width: 8.8rem;
  height: 8.8rem;
  border: 2px solid rgba(255, 255, 255, 0.668);
  border-bottom: 0;
}
.arc {
  width: 8rem;
  height: 9.2rem;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.74);
}
.watch-text {
  margin: 3.2rem 1.8rem 0 8rem;
}
.watch-text h3 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  line-height: 1.01;
}
.watch-text p {
  line-height: 1.6;
  font-size: 1.6rem;
  color: #68696e;
  margin-bottom: 3.2rem;
}
.vid2 {
  justify-self: flex-end;
  position: relative;
}
.slide-img {
  width: 100%;
  /* height: 35rem; */
  /* width: 45rem; */
}
.navigate {
  display: flex;
  gap: 1rem;
}
.installation-section .navigate {
  margin-top: 3.2rem;
  position: absolute;
  right: 0;
}
.navigate a:link,
.navigate a:visited {
  text-decoration: none;
  color: rgb(75, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.installation-section .get-started-btn:link,
.installation-section .get-started-btn:visited,
.get-started-btn.basic:link,
.get-started-btn.basic:visited {
  background-color: #fff;
  color: #0e1133;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
/******************** End Of installation section  *************************/

/******************  Availability-section ***********************************/
.availability-section {
  background-color: #eef1f6;
  padding: 8rem;
  width: 100vw;
  margin-bottom: 8rem;
}
.availability-section-container {
  width: 34vw;
}
.availability-section span {
  display: block;
}
.availability-section .small-grey-text {
  margin-bottom: 3.2rem;
}
.download-for {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.ios:link,
.ios:visited,
.android:link,
.android:visited {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 20rem;
  height: 7.5rem;
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  border: 2px solid #0e1133;
  border-radius: 1.6rem;
}
.ios {
  background-color: #0e1133;
  color: #fff;
}
.ios .icons {
  width: 3.2rem;
  height: 3.2rem;
}
.android {
  background-color: #fff;
  color: #192f62;
}
.android .icons {
  width: 4.8rem;
  height: 4.8rem;
}
.bold-span {
  font-weight: 700;
  font-size: 2.4rem;
}
/***************** End of availability-section  **************/

/***************** pricing-sponsers-testimonial-section  ********/
.pricing-sponsers-testimonial-section {
  text-align: center;
}
.pricing-sponsers-testimonial-section h2 {
  font-size: 4.4rem;
  color: #0e1133;
  line-height: 1.06;
  margin-bottom: 12px;
}
.pricing-sponsers-testimonial-section h2 + p {
  margin-bottom: 4.8rem;
}
/************* Pricing  ***************/
.month-year {
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: max-content;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 1.4rem;
  padding: 0.3rem;
  border: 3px solid #eef1f6;
  border-radius: 2.4rem;
  margin-bottom: 2.4rem;
}
.month {
  background: #fc3d65;
  color: #fff;

  padding: 1rem 2rem;
  border-radius: 1.6rem;
}
.year {
  padding: 0.8rem 2rem;
  border-radius: 1.6rem;
}
.pricing-plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  gap: 3.2rem;
  margin-bottom: 8rem;
}
.plan-card {
  text-align: left;
  height: max-content;
  color: #0e1133;
  padding: 4.8rem 3.2rem;
  border: 2px solid #eef1f6;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.plan-card h3 {
  color: #0e1133;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.price {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}
.dollar {
  font-size: 2.4rem;
  margin-right: 0.6rem;
  align-self: flex-start;
}
.price-no {
  font-size: 4.4rem;
  line-height: 1.01;
  color: #0e1133;
  font-weight: 700;
}
.period {
  font-size: 1.4rem;
  color: #68696e;
  align-self: flex-end;
}
.border-bottom-text {
  font-size: 1.4rem;
  color: #68696e;
  padding-bottom: 2.4rem;
  border-bottom: 1.5px solid #e3e7ee;
  margin-bottom: 2.4rem;
}
.plan-card.middle {
  border-top: 3px solid #fc3d65;
  box-shadow: 0px 3.2rem 2.4rem 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.plan-list {
  margin-bottom: 3.2rem;
}
.plan-feature {
  font-weight: 500;
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
  align-items: center;
}
.popular {
  position: absolute;
  top: 1.6rem;
  right: 0;
  padding: 0.2rem 1.6rem;
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
  background-color: #2c6ff4;
}
/************** Testimonial *************/
.testimonial {
  /* to edit text-align center from the big div  */
  text-align: left;
  display: grid;
  grid-template-columns: auto 0.62fr;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
  /*  */
  color: #fff;
  background-color: #2c6ff4;
  background: -webkit-linear-gradient(to right, #2c6ff4, #2a97f6);
  background: linear-gradient(to right, #2c6ff4, #2a97f6);
  padding: 6.4rem 2.4rem;
  margin-bottom: 8rem;
}
.customer-review {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.829);
  text-align: center;
}
.customer-review img {
  border-radius: 50%;
}
.testimonial-text {
  font-size: 2rem;
  line-height: 1.6;
}
.testimonial-text blockquote,
.customer-review img {
  margin-bottom: 2.4rem;
}
.testimonial-text .centered-flex {
  justify-content: space-between;
}
.testimonial-author {
  font-weight: 500;
}
.testimonial-author + p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.829);
}
.testimonial .navigate a:link,
.testimonial .navigate a:visited {
  color: #fff;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}
/**************** Sponsers *****************************/
.sponsers-part span {
  display: block;
}
.sponsers-images {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  margin-bottom: 3.2rem;
}
.sponsers-images {
  grid-template-columns: repeat(6, auto);
}
.sponsers-images:last-child {
  grid-template-columns: repeat(4, auto);
  gap: 4.8rem;
  margin-bottom: 0;
}
.sponser-card {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 2.4rem;
  border-radius: 5px;
  box-shadow: 2px 1.6rem 3.2rem 0px rgba(0, 0, 0, 0.1);
}
.sponsers-images:last-child .sponser-card {
  box-shadow: 2px 1.6rem 3.2rem 0px rgba(0, 0, 0, 0.173);
}
.sponser-card img {
  width: 100%;
}
/***************** End of sponsers **************************/
/******************** Footer  *************************************/
.footer {
  background-color: #eef1f6;
  padding: 8rem 8rem 4.8rem;
  position: relative;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 6.4rem;
  border-bottom: 2px solid #e3e7ee;
  margin-bottom: 3.2rem;
}
.logo-column {
  grid-column: span 2;
}
.footer-logo,
.footer-headings {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.footer-text {
  color: #696a6f;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.footer .read-mor:link,
.footer .read-mor:visited {
  gap: 0.4rem;
  color: #192f62;
  margin-bottom: 3.2rem;
}
.social-pages {
  display: flex;
  gap: 1.2rem;
}
.page-link:link,
.page-link:visited {
  width: 4.4rem;
  height: 4.4rem;
  background-color: #fff;
  border-radius: 0.8rem;
  /* to center  */
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-column {
  display: flex;
  flex-direction: column;
  color: #192f62;
  gap: 0.8rem;
}
.footer-column:nth-child(2) {
  grid-column: 4/5;
  justify-self: flex-end;
}
.footer-column:nth-child(3) {
  grid-column: 6/7;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  margin-bottom: 0.8rem;
}
.footer ul li:last-child {
  margin-bottom: 0;
}
.footer-column a:link,
.footer-column a:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #192f62;
  line-height: 1.6;
}
.contacts {
  justify-self: flex-end;
  font-style: normal;
  grid-column: 9/-1;
}
.footer-column.contacts a:link,
.footer-column.contacts a:visited {
  color: #696a6f;
  display: flex;
  /* between text and icon  */
  gap: 1.2rem;
}
.footer-bottom {
  /* copyright and download  */
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}
.download-for {
  /* 2 download boxes  */
  display: flex;
  gap: 1.2rem;
}
.ios-footer:link,
.ios-footer:visited,
.android-footer:link,
.android-footer:visited {
  font-size: 1.4rem;
  line-height: 1.6;
  text-decoration: none;
  color: #192f62;
  /* between icon and text */
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 0.8rem 2.4rem;
  border: 2px solid #e3e7ee;
  border-radius: 0.8rem;
}
.ios-footer:link,
.ios-footer:visited {
  background-color: #fff;
  border-color: #fff;
}
.copyrights {
  color: #696a6f;
  font-size: 1.4rem;
}
.to-top-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  background-color: #f3b8c8;
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;
}
/***************** End Of Footer  ********************/
